<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uF2A00</key>
    <string>uF_2A_00.glif</string>
    <key>uF2A01</key>
    <string>uF_2A_01.glif</string>
    <key>uF2A02</key>
    <string>uF_2A_02.glif</string>
    <key>uF2A03</key>
    <string>uF_2A_03.glif</string>
    <key>uF2A04</key>
    <string>uF_2A_04.glif</string>
    <key>uF2A05</key>
    <string>uF_2A_05.glif</string>
    <key>uF2A06</key>
    <string>uF_2A_06.glif</string>
    <key>uF2A07</key>
    <string>uF_2A_07.glif</string>
    <key>uF2A08</key>
    <string>uF_2A_08.glif</string>
    <key>uF2A09</key>
    <string>uF_2A_09.glif</string>
    <key>uF2A0A</key>
    <string>uF_2A_0A_.glif</string>
    <key>uF2A0B</key>
    <string>uF_2A_0B_.glif</string>
    <key>uF2A0C</key>
    <string>uF_2A_0C_.glif</string>
    <key>uF2A0D</key>
    <string>uF_2A_0D_.glif</string>
    <key>uF2A0E</key>
    <string>uF_2A_0E_.glif</string>
    <key>uF2A0F</key>
    <string>uF_2A_0F_.glif</string>
    <key>uF2A10</key>
    <string>uF_2A_10.glif</string>
    <key>uF2A11</key>
    <string>uF_2A_11.glif</string>
    <key>uF2A12</key>
    <string>uF_2A_12.glif</string>
    <key>uF2A13</key>
    <string>uF_2A_13.glif</string>
    <key>uF2A14</key>
    <string>uF_2A_14.glif</string>
    <key>uF2A15</key>
    <string>uF_2A_15.glif</string>
    <key>uF2A16</key>
    <string>uF_2A_16.glif</string>
    <key>uF2A17</key>
    <string>uF_2A_17.glif</string>
    <key>uF2A18</key>
    <string>uF_2A_18.glif</string>
    <key>uF2A19</key>
    <string>uF_2A_19.glif</string>
    <key>uF2A1A</key>
    <string>uF_2A_1A_.glif</string>
    <key>uF2A1B</key>
    <string>uF_2A_1B_.glif</string>
    <key>uF2A1C</key>
    <string>uF_2A_1C_.glif</string>
    <key>uF2A1D</key>
    <string>uF_2A_1D_.glif</string>
    <key>uF2A1E</key>
    <string>uF_2A_1E_.glif</string>
    <key>uF2A1F</key>
    <string>uF_2A_1F_.glif</string>
    <key>uF2A20</key>
    <string>uF_2A_20.glif</string>
    <key>uF2A21</key>
    <string>uF_2A_21.glif</string>
    <key>uF2A22</key>
    <string>uF_2A_22.glif</string>
    <key>uF2A23</key>
    <string>uF_2A_23.glif</string>
    <key>uF2A24</key>
    <string>uF_2A_24.glif</string>
    <key>uF2A25</key>
    <string>uF_2A_25.glif</string>
    <key>uF2A26</key>
    <string>uF_2A_26.glif</string>
    <key>uF2A27</key>
    <string>uF_2A_27.glif</string>
    <key>uF2A28</key>
    <string>uF_2A_28.glif</string>
    <key>uF2A29</key>
    <string>uF_2A_29.glif</string>
    <key>uF2A2A</key>
    <string>uF_2A_2A_.glif</string>
    <key>uF2A2B</key>
    <string>uF_2A_2B_.glif</string>
    <key>uF2A2C</key>
    <string>uF_2A_2C_.glif</string>
    <key>uF2A2D</key>
    <string>uF_2A_2D_.glif</string>
    <key>uF2A2E</key>
    <string>uF_2A_2E_.glif</string>
    <key>uF2A2F</key>
    <string>uF_2A_2F_.glif</string>
    <key>uF2A30</key>
    <string>uF_2A_30.glif</string>
    <key>uF2A31</key>
    <string>uF_2A_31.glif</string>
    <key>uF2A32</key>
    <string>uF_2A_32.glif</string>
    <key>uF2A33</key>
    <string>uF_2A_33.glif</string>
    <key>uF2A34</key>
    <string>uF_2A_34.glif</string>
    <key>uF2A35</key>
    <string>uF_2A_35.glif</string>
    <key>uF2A36</key>
    <string>uF_2A_36.glif</string>
    <key>uF2A37</key>
    <string>uF_2A_37.glif</string>
    <key>uF2A38</key>
    <string>uF_2A_38.glif</string>
    <key>uF2A39</key>
    <string>uF_2A_39.glif</string>
    <key>uF2A3A</key>
    <string>uF_2A_3A_.glif</string>
    <key>uF2A3B</key>
    <string>uF_2A_3B_.glif</string>
    <key>uF2A3C</key>
    <string>uF_2A_3C_.glif</string>
    <key>uF2A3D</key>
    <string>uF_2A_3D_.glif</string>
    <key>uF2A3E</key>
    <string>uF_2A_3E_.glif</string>
    <key>uF2A3F</key>
    <string>uF_2A_3F_.glif</string>
    <key>uF2A40</key>
    <string>uF_2A_40.glif</string>
    <key>uF2A41</key>
    <string>uF_2A_41.glif</string>
    <key>uF2A42</key>
    <string>uF_2A_42.glif</string>
    <key>uF2A43</key>
    <string>uF_2A_43.glif</string>
    <key>uF2A44</key>
    <string>uF_2A_44.glif</string>
    <key>uF2A45</key>
    <string>uF_2A_45.glif</string>
    <key>uF2A46</key>
    <string>uF_2A_46.glif</string>
    <key>uF2A47</key>
    <string>uF_2A_47.glif</string>
    <key>uF2A48</key>
    <string>uF_2A_48.glif</string>
    <key>uF2A49</key>
    <string>uF_2A_49.glif</string>
    <key>uF2A4A</key>
    <string>uF_2A_4A_.glif</string>
    <key>uF2A4B</key>
    <string>uF_2A_4B_.glif</string>
    <key>uF2A4C</key>
    <string>uF_2A_4C_.glif</string>
    <key>uF2A4D</key>
    <string>uF_2A_4D_.glif</string>
    <key>uF2A4E</key>
    <string>uF_2A_4E_.glif</string>
    <key>uF2A4F</key>
    <string>uF_2A_4F_.glif</string>
    <key>uF2A50</key>
    <string>uF_2A_50.glif</string>
    <key>uF2A51</key>
    <string>uF_2A_51.glif</string>
    <key>uF2A52</key>
    <string>uF_2A_52.glif</string>
    <key>uF2A53</key>
    <string>uF_2A_53.glif</string>
    <key>uF2A54</key>
    <string>uF_2A_54.glif</string>
    <key>uF2A55</key>
    <string>uF_2A_55.glif</string>
    <key>uF2A56</key>
    <string>uF_2A_56.glif</string>
    <key>uF2A57</key>
    <string>uF_2A_57.glif</string>
    <key>uF2A58</key>
    <string>uF_2A_58.glif</string>
    <key>uF2A59</key>
    <string>uF_2A_59.glif</string>
    <key>uF2A5A</key>
    <string>uF_2A_5A_.glif</string>
    <key>uF2A5B</key>
    <string>uF_2A_5B_.glif</string>
    <key>uF2A5C</key>
    <string>uF_2A_5C_.glif</string>
    <key>uF2A5D</key>
    <string>uF_2A_5D_.glif</string>
    <key>uF2A5E</key>
    <string>uF_2A_5E_.glif</string>
    <key>uF2A5F</key>
    <string>uF_2A_5F_.glif</string>
    <key>uF2A60</key>
    <string>uF_2A_60.glif</string>
    <key>uF2A61</key>
    <string>uF_2A_61.glif</string>
    <key>uF2A62</key>
    <string>uF_2A_62.glif</string>
    <key>uF2A63</key>
    <string>uF_2A_63.glif</string>
    <key>uF2A64</key>
    <string>uF_2A_64.glif</string>
    <key>uF2A65</key>
    <string>uF_2A_65.glif</string>
    <key>uF2A66</key>
    <string>uF_2A_66.glif</string>
    <key>uF2A67</key>
    <string>uF_2A_67.glif</string>
    <key>uF2A68</key>
    <string>uF_2A_68.glif</string>
    <key>uF2A69</key>
    <string>uF_2A_69.glif</string>
    <key>uF2A6A</key>
    <string>uF_2A_6A_.glif</string>
    <key>uF2A6B</key>
    <string>uF_2A_6B_.glif</string>
    <key>uF2A6C</key>
    <string>uF_2A_6C_.glif</string>
    <key>uF2A6D</key>
    <string>uF_2A_6D_.glif</string>
    <key>uF2A6E</key>
    <string>uF_2A_6E_.glif</string>
    <key>uF2A6F</key>
    <string>uF_2A_6F_.glif</string>
    <key>uF2A70</key>
    <string>uF_2A_70.glif</string>
    <key>uF2A71</key>
    <string>uF_2A_71.glif</string>
    <key>uF2A72</key>
    <string>uF_2A_72.glif</string>
    <key>uF2A73</key>
    <string>uF_2A_73.glif</string>
    <key>uF2A74</key>
    <string>uF_2A_74.glif</string>
    <key>uF2A75</key>
    <string>uF_2A_75.glif</string>
    <key>uF2A76</key>
    <string>uF_2A_76.glif</string>
    <key>uF2A77</key>
    <string>uF_2A_77.glif</string>
    <key>uF2A78</key>
    <string>uF_2A_78.glif</string>
    <key>uF2A79</key>
    <string>uF_2A_79.glif</string>
    <key>uF2A7A</key>
    <string>uF_2A_7A_.glif</string>
    <key>uF2A7B</key>
    <string>uF_2A_7B_.glif</string>
    <key>uF2A7C</key>
    <string>uF_2A_7C_.glif</string>
    <key>uF2A7D</key>
    <string>uF_2A_7D_.glif</string>
    <key>uF2A7E</key>
    <string>uF_2A_7E_.glif</string>
    <key>uF2A7F</key>
    <string>uF_2A_7F_.glif</string>
    <key>uF2A80</key>
    <string>uF_2A_80.glif</string>
  </dict>
</plist>
