<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.cu2qu.curve_type</key>
    <string>quadratic</string>
    <key>org.quintessential.source</key>
    <dict>
      <key>axisMap</key>
      <array>
        <array>
          <integer>400</integer>
          <integer>92</integer>
        </array>
        <array>
          <integer>500</integer>
          <integer>110</integer>
        </array>
        <array>
          <integer>600</integer>
          <integer>128</integer>
        </array>
        <array>
          <integer>700</integer>
          <integer>149</integer>
        </array>
      </array>
      <key>baseFamily</key>
      <string>STIX Two Text</string>
      <key>baseVersion</key>
      <string>2.13 b171</string>
      <key>designWeight</key>
      <integer>92</integer>
      <key>donorFilename</key>
      <string>STIXTwoText-Italic-VariableFont_wght.ttf</string>
      <key>donorSha256</key>
      <string>efa7260126f8b13bd6dacb898f01f87d79e94fbb3ee5dc7e93ab2366a291fa84</string>
      <key>posture</key>
      <string>Italic</string>
      <key>userWeight</key>
      <integer>400</integer>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>uF2A00</string>
      <string>uF2A01</string>
      <string>uF2A02</string>
      <string>uF2A03</string>
      <string>uF2A04</string>
      <string>uF2A05</string>
      <string>uF2A06</string>
      <string>uF2A07</string>
      <string>uF2A08</string>
      <string>uF2A09</string>
      <string>uF2A0A</string>
      <string>uF2A0B</string>
      <string>uF2A0C</string>
      <string>uF2A0D</string>
      <string>uF2A0E</string>
      <string>uF2A0F</string>
      <string>uF2A10</string>
      <string>uF2A11</string>
      <string>uF2A12</string>
      <string>uF2A13</string>
      <string>uF2A14</string>
      <string>uF2A15</string>
      <string>uF2A16</string>
      <string>uF2A17</string>
      <string>uF2A18</string>
      <string>uF2A19</string>
      <string>uF2A1A</string>
      <string>uF2A1B</string>
      <string>uF2A1C</string>
      <string>uF2A1D</string>
      <string>uF2A1E</string>
      <string>uF2A1F</string>
      <string>uF2A20</string>
      <string>uF2A21</string>
      <string>uF2A22</string>
      <string>uF2A23</string>
      <string>uF2A24</string>
      <string>uF2A25</string>
      <string>uF2A26</string>
      <string>uF2A27</string>
      <string>uF2A28</string>
      <string>uF2A29</string>
      <string>uF2A2A</string>
      <string>uF2A2B</string>
      <string>uF2A2C</string>
      <string>uF2A2D</string>
      <string>uF2A2E</string>
      <string>uF2A2F</string>
      <string>uF2A30</string>
      <string>uF2A31</string>
      <string>uF2A32</string>
      <string>uF2A33</string>
      <string>uF2A34</string>
      <string>uF2A35</string>
      <string>uF2A36</string>
      <string>uF2A37</string>
      <string>uF2A38</string>
      <string>uF2A39</string>
      <string>uF2A3A</string>
      <string>uF2A3B</string>
      <string>uF2A3C</string>
      <string>uF2A3D</string>
      <string>uF2A3E</string>
      <string>uF2A3F</string>
      <string>uF2A40</string>
      <string>uF2A41</string>
      <string>uF2A42</string>
      <string>uF2A43</string>
      <string>uF2A44</string>
      <string>uF2A45</string>
      <string>uF2A46</string>
      <string>uF2A47</string>
      <string>uF2A48</string>
      <string>uF2A49</string>
      <string>uF2A4A</string>
      <string>uF2A4B</string>
      <string>uF2A4C</string>
      <string>uF2A4D</string>
      <string>uF2A4E</string>
      <string>uF2A4F</string>
      <string>uF2A50</string>
      <string>uF2A51</string>
      <string>uF2A52</string>
      <string>uF2A53</string>
      <string>uF2A54</string>
      <string>uF2A55</string>
      <string>uF2A56</string>
      <string>uF2A57</string>
      <string>uF2A58</string>
      <string>uF2A59</string>
      <string>uF2A5A</string>
      <string>uF2A5B</string>
      <string>uF2A5C</string>
      <string>uF2A5D</string>
      <string>uF2A5E</string>
      <string>uF2A5F</string>
      <string>uF2A60</string>
      <string>uF2A61</string>
      <string>uF2A62</string>
      <string>uF2A63</string>
      <string>uF2A64</string>
      <string>uF2A65</string>
      <string>uF2A66</string>
      <string>uF2A67</string>
      <string>uF2A68</string>
      <string>uF2A69</string>
      <string>uF2A6A</string>
      <string>uF2A6B</string>
      <string>uF2A6C</string>
      <string>uF2A6D</string>
      <string>uF2A6E</string>
      <string>uF2A6F</string>
      <string>uF2A70</string>
      <string>uF2A71</string>
      <string>uF2A72</string>
      <string>uF2A73</string>
      <string>uF2A74</string>
      <string>uF2A75</string>
      <string>uF2A76</string>
      <string>uF2A77</string>
      <string>uF2A78</string>
      <string>uF2A79</string>
      <string>uF2A7A</string>
      <string>uF2A7B</string>
      <string>uF2A7C</string>
      <string>uF2A7D</string>
      <string>uF2A7E</string>
      <string>uF2A7F</string>
      <string>uF2A80</string>
      <string>uF2B00</string>
      <string>uF2B01</string>
      <string>uF2B02</string>
      <string>uF2B03</string>
      <string>uF2B10</string>
      <string>uF2B11</string>
      <string>uF2B12</string>
      <string>uF2B13</string>
      <string>uF2B14</string>
      <string>uF2B15</string>
      <string>uF2B16</string>
      <string>uF2B17</string>
      <string>uF2B18</string>
      <string>uF2B19</string>
      <string>uF2B1A</string>
      <string>uF2B1B</string>
      <string>uF2B4C</string>
      <string>uF2B4D</string>
      <string>uF2B4E</string>
      <string>uF2B4F</string>
      <string>uF2B50</string>
      <string>uF2B51</string>
      <string>uF2B52</string>
      <string>uF2B53</string>
      <string>uF2B54</string>
      <string>uF2B55</string>
      <string>uF2B56</string>
      <string>uF2B57</string>
      <string>special-closed-double-bowl</string>
      <string>special-turned-open-bowl</string>
      <string>special-turned-double-open-bowl</string>
      <string>uF2A45.middle</string>
      <string>uF2A49.middle</string>
      <string>uF2A4D.middle</string>
      <string>uF2A46.middle</string>
      <string>uF2A4A.middle</string>
      <string>uF2A4E.middle</string>
      <string>uF2A47.middle</string>
      <string>uF2A4B.middle</string>
      <string>uF2A4F.middle</string>
      <string>uF2A48.middle</string>
      <string>uF2A4C.middle</string>
      <string>uF2A50.middle</string>
      <string>uF2A5D.middle</string>
      <string>uF2A61.middle</string>
      <string>uF2A65.middle</string>
      <string>uF2A5E.middle</string>
      <string>uF2A62.middle</string>
      <string>uF2A66.middle</string>
      <string>uF2A5F.middle</string>
      <string>uF2A63.middle</string>
      <string>uF2A67.middle</string>
      <string>uF2A60.middle</string>
      <string>uF2A64.middle</string>
      <string>uF2A68.middle</string>
      <string>uF2A51.middle</string>
      <string>uF2A55.middle</string>
      <string>uF2A59.middle</string>
      <string>uF2A52.middle</string>
      <string>uF2A56.middle</string>
      <string>uF2A5A.middle</string>
      <string>uF2A53.middle</string>
      <string>uF2A57.middle</string>
      <string>uF2A5B.middle</string>
      <string>uF2A54.middle</string>
      <string>uF2A58.middle</string>
      <string>uF2A5C.middle</string>
      <string>uF2A69.middle</string>
      <string>uF2A6D.middle</string>
      <string>uF2A71.middle</string>
      <string>uF2A6A.middle</string>
      <string>uF2A6E.middle</string>
      <string>uF2A72.middle</string>
      <string>uF2A6B.middle</string>
      <string>uF2A6F.middle</string>
      <string>uF2A73.middle</string>
      <string>uF2A6C.middle</string>
      <string>uF2A70.middle</string>
      <string>uF2A74.middle</string>
      <string>uF2A75.middle</string>
      <string>uF2A79.middle</string>
      <string>uF2A7D.middle</string>
      <string>uF2A76.middle</string>
      <string>uF2A7A.middle</string>
      <string>uF2A7E.middle</string>
      <string>uF2A77.middle</string>
      <string>uF2A7B.middle</string>
      <string>uF2A7F.middle</string>
      <string>uF2A78.middle</string>
      <string>uF2A7C.middle</string>
      <string>uF2A80.middle</string>
      <string>uF2B4C.middle</string>
      <string>uF2B50.middle</string>
      <string>uF2B54.middle</string>
      <string>uF2B4D.middle</string>
      <string>uF2B51.middle</string>
      <string>uF2B55.middle</string>
      <string>uF2B4E.middle</string>
      <string>uF2B52.middle</string>
      <string>uF2B56.middle</string>
      <string>uF2B4F.middle</string>
      <string>uF2B53.middle</string>
      <string>uF2B57.middle</string>
    </array>
  </dict>
</plist>
