<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.github.googlei18n.cu2qu.curve_type</key>
	<string>quadratic</string>
	<key>org.quintessential.source</key>
	<dict>
		<key>axisMap</key>
		<array>
			<array>
				<integer>400</integer>
				<integer>92</integer>
			</array>
			<array>
				<integer>500</integer>
				<integer>110</integer>
			</array>
			<array>
				<integer>600</integer>
				<integer>128</integer>
			</array>
			<array>
				<integer>700</integer>
				<integer>149</integer>
			</array>
		</array>
		<key>baseFamily</key>
		<string>STIX Two Text</string>
		<key>baseVersion</key>
		<string>2.13 b171</string>
		<key>designWeight</key>
		<integer>92</integer>
		<key>donorFilename</key>
		<string>STIXTwoText-Italic-VariableFont_wght.ttf</string>
		<key>donorSha256</key>
		<string>efa7260126f8b13bd6dacb898f01f87d79e94fbb3ee5dc7e93ab2366a291fa84</string>
		<key>posture</key>
		<string>Italic</string>
		<key>userWeight</key>
		<integer>400</integer>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>uF2A00</string>
		<string>uF2A01</string>
		<string>uF2A02</string>
		<string>uF2A03</string>
		<string>uF2A04</string>
		<string>uF2A05</string>
		<string>uF2A06</string>
		<string>uF2A07</string>
		<string>uF2A08</string>
		<string>uF2A09</string>
		<string>uF2A0A</string>
		<string>uF2A0B</string>
		<string>uF2A0C</string>
		<string>uF2A0D</string>
		<string>uF2A0E</string>
		<string>uF2A0F</string>
		<string>uF2A10</string>
		<string>uF2A11</string>
		<string>uF2A12</string>
		<string>uF2A13</string>
		<string>uF2A14</string>
		<string>uF2A15</string>
		<string>uF2A16</string>
		<string>uF2A17</string>
		<string>uF2A18</string>
		<string>uF2A19</string>
		<string>uF2A1A</string>
		<string>uF2A1B</string>
		<string>uF2A1C</string>
		<string>uF2A1D</string>
		<string>uF2A1E</string>
		<string>uF2A1F</string>
		<string>uF2A20</string>
		<string>uF2A21</string>
		<string>uF2A22</string>
		<string>uF2A23</string>
		<string>uF2A24</string>
		<string>uF2A25</string>
		<string>uF2A26</string>
		<string>uF2A27</string>
		<string>uF2A28</string>
		<string>uF2A29</string>
		<string>uF2A2A</string>
		<string>uF2A2B</string>
		<string>uF2A2C</string>
		<string>uF2A2D</string>
		<string>uF2A2E</string>
		<string>uF2A2F</string>
		<string>uF2A30</string>
		<string>uF2A31</string>
		<string>uF2A32</string>
		<string>uF2A33</string>
		<string>uF2A34</string>
		<string>uF2A35</string>
		<string>uF2A36</string>
		<string>uF2A37</string>
		<string>uF2A38</string>
		<string>uF2A39</string>
		<string>uF2A3A</string>
		<string>uF2A3B</string>
		<string>uF2A3C</string>
		<string>uF2A3D</string>
		<string>uF2A3E</string>
		<string>uF2A3F</string>
		<string>uF2A40</string>
		<string>uF2A41</string>
		<string>uF2A42</string>
		<string>uF2A43</string>
		<string>uF2A44</string>
		<string>uF2A45</string>
		<string>uF2A46</string>
		<string>uF2A47</string>
		<string>uF2A48</string>
		<string>uF2A49</string>
		<string>uF2A4A</string>
		<string>uF2A4B</string>
		<string>uF2A4C</string>
		<string>uF2A4D</string>
		<string>uF2A4E</string>
		<string>uF2A4F</string>
		<string>uF2A50</string>
		<string>uF2A51</string>
		<string>uF2A52</string>
		<string>uF2A53</string>
		<string>uF2A54</string>
		<string>uF2A55</string>
		<string>uF2A56</string>
		<string>uF2A57</string>
		<string>uF2A58</string>
		<string>uF2A59</string>
		<string>uF2A5A</string>
		<string>uF2A5B</string>
		<string>uF2A5C</string>
		<string>uF2A5D</string>
		<string>uF2A5E</string>
		<string>uF2A5F</string>
		<string>uF2A60</string>
		<string>uF2A61</string>
		<string>uF2A62</string>
		<string>uF2A63</string>
		<string>uF2A64</string>
		<string>uF2A65</string>
		<string>uF2A66</string>
		<string>uF2A67</string>
		<string>uF2A68</string>
		<string>uF2A69</string>
		<string>uF2A6A</string>
		<string>uF2A6B</string>
		<string>uF2A6C</string>
		<string>uF2A6D</string>
		<string>uF2A6E</string>
		<string>uF2A6F</string>
		<string>uF2A70</string>
		<string>uF2A71</string>
		<string>uF2A72</string>
		<string>uF2A73</string>
		<string>uF2A74</string>
		<string>uF2A75</string>
		<string>uF2A76</string>
		<string>uF2A77</string>
		<string>uF2A78</string>
		<string>uF2A79</string>
		<string>uF2A7A</string>
		<string>uF2A7B</string>
		<string>uF2A7C</string>
		<string>uF2A7D</string>
		<string>uF2A7E</string>
		<string>uF2A7F</string>
		<string>uF2A80</string>
		<string>uF2B00</string>
		<string>uF2B01</string>
		<string>uF2B02</string>
		<string>uF2B03</string>
		<string>uF2B10</string>
		<string>uF2B11</string>
		<string>uF2B12</string>
		<string>uF2B13</string>
		<string>uF2B14</string>
		<string>uF2B15</string>
		<string>uF2B16</string>
		<string>uF2B17</string>
		<string>uF2B18</string>
		<string>uF2B19</string>
		<string>uF2B1A</string>
		<string>uF2B1B</string>
		<string>uF2B4C</string>
		<string>uF2B4D</string>
		<string>uF2B4E</string>
		<string>uF2B4F</string>
		<string>uF2B50</string>
		<string>uF2B51</string>
		<string>uF2B52</string>
		<string>uF2B53</string>
		<string>uF2B54</string>
		<string>uF2B55</string>
		<string>uF2B56</string>
		<string>uF2B57</string>
		<string>special-closed-double-bowl</string>
		<string>special-turned-open-bowl</string>
		<string>special-turned-double-open-bowl</string>
		<string>uF2A45.middle</string>
		<string>uF2A49.middle</string>
		<string>uF2A4D.middle</string>
		<string>uF2A46.middle</string>
		<string>uF2A4A.middle</string>
		<string>uF2A4E.middle</string>
		<string>uF2A47.middle</string>
		<string>uF2A4B.middle</string>
		<string>uF2A4F.middle</string>
		<string>uF2A48.middle</string>
		<string>uF2A4C.middle</string>
		<string>uF2A50.middle</string>
		<string>uF2A5D.middle</string>
		<string>uF2A61.middle</string>
		<string>uF2A65.middle</string>
		<string>uF2A5E.middle</string>
		<string>uF2A62.middle</string>
		<string>uF2A66.middle</string>
		<string>uF2A5F.middle</string>
		<string>uF2A63.middle</string>
		<string>uF2A67.middle</string>
		<string>uF2A60.middle</string>
		<string>uF2A64.middle</string>
		<string>uF2A68.middle</string>
		<string>uF2A51.middle</string>
		<string>uF2A55.middle</string>
		<string>uF2A59.middle</string>
		<string>uF2A52.middle</string>
		<string>uF2A56.middle</string>
		<string>uF2A5A.middle</string>
		<string>uF2A53.middle</string>
		<string>uF2A57.middle</string>
		<string>uF2A5B.middle</string>
		<string>uF2A54.middle</string>
		<string>uF2A58.middle</string>
		<string>uF2A5C.middle</string>
		<string>uF2A69.middle</string>
		<string>uF2A6D.middle</string>
		<string>uF2A71.middle</string>
		<string>uF2A6A.middle</string>
		<string>uF2A6E.middle</string>
		<string>uF2A72.middle</string>
		<string>uF2A6B.middle</string>
		<string>uF2A6F.middle</string>
		<string>uF2A73.middle</string>
		<string>uF2A6C.middle</string>
		<string>uF2A70.middle</string>
		<string>uF2A74.middle</string>
		<string>uF2A75.middle</string>
		<string>uF2A79.middle</string>
		<string>uF2A7D.middle</string>
		<string>uF2A76.middle</string>
		<string>uF2A7A.middle</string>
		<string>uF2A7E.middle</string>
		<string>uF2A77.middle</string>
		<string>uF2A7B.middle</string>
		<string>uF2A7F.middle</string>
		<string>uF2A78.middle</string>
		<string>uF2A7C.middle</string>
		<string>uF2A80.middle</string>
		<string>uF2B4C.middle</string>
		<string>uF2B50.middle</string>
		<string>uF2B54.middle</string>
		<string>uF2B4D.middle</string>
		<string>uF2B51.middle</string>
		<string>uF2B55.middle</string>
		<string>uF2B4E.middle</string>
		<string>uF2B52.middle</string>
		<string>uF2B56.middle</string>
		<string>uF2B4F.middle</string>
		<string>uF2B53.middle</string>
		<string>uF2B57.middle</string>
		<string>uF2B04</string>
		<string>uF2B05</string>
		<string>uF2B06</string>
		<string>uF2B07</string>
		<string>uF2B08</string>
		<string>uF2B09</string>
		<string>uF2B0A</string>
		<string>uF2B0B</string>
		<string>uF2B0C</string>
		<string>uF2B0D</string>
		<string>uF2B0E</string>
		<string>uF2B0F</string>
		<string>uF2B1C</string>
		<string>uF2B1D</string>
		<string>uF2B1E</string>
		<string>uF2B1F</string>
		<string>uF2B20</string>
		<string>uF2B21</string>
		<string>uF2B22</string>
		<string>uF2B23</string>
		<string>uF2B24</string>
		<string>uF2B25</string>
		<string>uF2B26</string>
		<string>uF2B27</string>
		<string>uF2B28</string>
		<string>uF2B29</string>
		<string>uF2B2A</string>
		<string>uF2B2B</string>
		<string>uF2B2C</string>
		<string>uF2B2D</string>
		<string>uF2B2E</string>
		<string>uF2B2F</string>
		<string>uF2B30</string>
		<string>uF2B31</string>
		<string>uF2B32</string>
		<string>uF2B33</string>
		<string>uF2B34</string>
		<string>uF2B35</string>
		<string>uF2B36</string>
		<string>uF2B37</string>
		<string>uF2B38</string>
		<string>uF2B39</string>
		<string>uF2B3A</string>
		<string>uF2B3B</string>
		<string>uF2B3C</string>
		<string>uF2B3D</string>
		<string>uF2B3E</string>
		<string>uF2B3F</string>
		<string>uF2B40</string>
		<string>uF2B41</string>
		<string>uF2B42</string>
		<string>uF2B43</string>
		<string>uF2B44</string>
		<string>uF2B45</string>
		<string>uF2B46</string>
		<string>uF2B47</string>
		<string>uF2B48</string>
		<string>uF2B49</string>
		<string>uF2B4A</string>
		<string>uF2B4B</string>
		<string>uF2B58</string>
		<string>uF2B59</string>
		<string>uF2B5A</string>
		<string>uF2B5B</string>
		<string>uF2B5C</string>
		<string>uF2B5D</string>
		<string>uF2B5E</string>
		<string>uF2B5F</string>
		<string>uF2B60</string>
		<string>uF2B61</string>
		<string>uF2B62</string>
		<string>uF2B63</string>
		<string>uF2B64</string>
		<string>uF2B65</string>
		<string>uF2B66</string>
		<string>uF2B67</string>
		<string>uF2B68</string>
		<string>uF2B69</string>
		<string>uF2B6A</string>
		<string>uF2B6B</string>
		<string>uF2B6C</string>
		<string>uF2B6D</string>
		<string>uF2B6E</string>
		<string>uF2B6F</string>
		<string>uF2B70</string>
		<string>uF2B71</string>
		<string>uF2B72</string>
		<string>uF2B73</string>
		<string>uF2B74</string>
		<string>uF2B75</string>
		<string>uF2B76</string>
		<string>uF2B77</string>
		<string>uF2B78</string>
		<string>uF2B79</string>
		<string>uF2B7A</string>
		<string>uF2B7B</string>
		<string>uF2B7C</string>
		<string>uF2B7D</string>
		<string>uF2B7E</string>
		<string>uF2B7F</string>
		<string>uF2B80</string>
		<string>uF2B81</string>
		<string>uF2B82</string>
		<string>uF2B83</string>
		<string>uF2B84</string>
		<string>uF2B85</string>
		<string>uF2B86</string>
		<string>uF2B87</string>
		<string>uF2B88</string>
		<string>uF2B89</string>
		<string>uF2B8A</string>
		<string>uF2B8B</string>
		<string>uF2B8C</string>
		<string>uF2B8D</string>
		<string>uF2B8E</string>
		<string>uF2B8F</string>
		<string>uF2B90</string>
		<string>uF2B91</string>
		<string>uF2B92</string>
		<string>uF2B93</string>
		<string>uF2B94</string>
		<string>uF2B95</string>
		<string>uF2B96</string>
		<string>uF2B97</string>
		<string>uF2B98</string>
		<string>uF2B99</string>
		<string>uF2B9A</string>
		<string>uF2B9B</string>
		<string>uF2B9C</string>
		<string>uF2B9D</string>
		<string>uF2B9E</string>
		<string>uF2B9F</string>
		<string>uF2C00</string>
		<string>uF2C01</string>
		<string>uF2C02</string>
		<string>uF2C03</string>
		<string>uF2C04</string>
		<string>uF2C05</string>
		<string>uF2C06</string>
		<string>uF2C07</string>
		<string>uF2C08</string>
		<string>uF2C09</string>
		<string>uF2C0A</string>
		<string>uF2C0B</string>
		<string>uF2C0C</string>
		<string>uF2C0D</string>
		<string>uF2C0E</string>
		<string>uF2C0F</string>
		<string>uF2C10</string>
		<string>uF2C11</string>
		<string>uF2C12</string>
		<string>uF2C13</string>
		<string>uF2C14</string>
		<string>uF2C15</string>
		<string>uF2C16</string>
		<string>uF2C17</string>
		<string>uF2C18</string>
		<string>uF2C19</string>
		<string>uF2C1A</string>
		<string>uF2C1B</string>
		<string>uF2C1C</string>
		<string>uF2C1D</string>
		<string>uF2C1E</string>
		<string>uF2C1F</string>
		<string>uF2C20</string>
		<string>uF2C21</string>
		<string>uF2C22</string>
		<string>uF2C23</string>
		<string>uF2C24</string>
		<string>uF2C25</string>
		<string>uF2C26</string>
		<string>uF2C27</string>
		<string>uF2C28</string>
		<string>uF2C29</string>
		<string>uF2C2A</string>
		<string>uF2C2B</string>
		<string>uF2C2C</string>
		<string>uF2C2D</string>
		<string>uF2C2E</string>
		<string>uF2C2F</string>
		<string>uF2C30</string>
		<string>uF2C31</string>
		<string>uF2C32</string>
		<string>uF2C33</string>
		<string>uF2C34</string>
		<string>uF2C35</string>
		<string>uF2C36</string>
		<string>uF2C37</string>
		<string>uF2C38</string>
		<string>uF2C39</string>
		<string>uF2C3A</string>
		<string>uF2C3B</string>
		<string>uF2C3C</string>
		<string>uF2C3D</string>
		<string>uF2C3E</string>
		<string>uF2C3F</string>
		<string>uF2C40</string>
		<string>uF2C41</string>
		<string>uF2C42</string>
		<string>uF2C43</string>
		<string>uF2C44</string>
		<string>uF2C45</string>
		<string>uF2C46</string>
		<string>uF2C47</string>
		<string>uF2C48</string>
		<string>uF2C49</string>
		<string>uF2C4A</string>
		<string>uF2C4B</string>
		<string>uF2C4C</string>
		<string>uF2C4D</string>
		<string>uF2C4E</string>
		<string>uF2C4F</string>
		<string>uF2C50</string>
		<string>uF2C51</string>
		<string>uF2C52</string>
		<string>uF2C53</string>
		<string>uF2C54</string>
		<string>uF2C55</string>
		<string>uF2C56</string>
		<string>uF2C57</string>
		<string>uF2C58</string>
		<string>uF2C59</string>
		<string>uF2C5A</string>
		<string>uF2C5B</string>
		<string>uF2C5C</string>
		<string>uF2C5D</string>
		<string>uF2C5E</string>
		<string>uF2C5F</string>
		<string>uF2C60</string>
		<string>uF2C61</string>
		<string>uF2C62</string>
		<string>uF2C63</string>
		<string>uF2C64</string>
		<string>uF2C65</string>
		<string>uF2C66</string>
		<string>uF2C67</string>
		<string>uF2C68</string>
		<string>uF2C69</string>
		<string>uF2C6A</string>
		<string>uF2C6B</string>
		<string>uF2C6C</string>
		<string>uF2C6D</string>
		<string>uF2C6E</string>
		<string>uF2C6F</string>
		<string>uF2C70</string>
		<string>uF2C71</string>
		<string>uF2C72</string>
		<string>uF2C73</string>
		<string>uF2C74</string>
		<string>uF2C75</string>
		<string>uF2C76</string>
		<string>uF2C77</string>
		<string>uF2C78</string>
		<string>uF2C79</string>
		<string>uF2C7A</string>
		<string>uF2C7B</string>
		<string>uF2C7C</string>
		<string>uF2C7D</string>
		<string>uF2C7E</string>
		<string>uF2C7F</string>
		<string>uF2C80</string>
		<string>uF2C81</string>
		<string>uF2C82</string>
		<string>uF2C83</string>
		<string>uF2C84</string>
		<string>uF2C85</string>
		<string>uF2C86</string>
		<string>uF2C87</string>
		<string>uF2C88</string>
		<string>uF2C89</string>
		<string>uF2C8A</string>
		<string>uF2C8B</string>
		<string>uF2C8C</string>
		<string>uF2C8D</string>
		<string>uF2C8E</string>
		<string>uF2C8F</string>
		<string>uF2C90</string>
		<string>uF2C91</string>
		<string>uF2C92</string>
		<string>uF2C93</string>
		<string>uF2C94</string>
		<string>uF2C95</string>
		<string>uF2C96</string>
		<string>uF2C97</string>
		<string>uF2C98</string>
		<string>uF2C99</string>
		<string>uF2C9A</string>
		<string>uF2C9B</string>
		<string>uF2C9C</string>
		<string>uF2C9D</string>
		<string>uF2C9E</string>
		<string>uF2C9F</string>
		<string>uF2CA0</string>
		<string>uF2CA1</string>
		<string>uF2CA2</string>
		<string>uF2CA3</string>
		<string>uF2CA4</string>
		<string>uF2CA5</string>
		<string>uF2CA6</string>
		<string>uF2CA7</string>
		<string>uF2CA8</string>
		<string>uF2CA9</string>
		<string>uF2CAA</string>
		<string>uF2CAB</string>
		<string>uF2CAC</string>
		<string>uF2CAD</string>
		<string>uF2CAE</string>
		<string>uF2CAF</string>
		<string>uF2CB0</string>
		<string>uF2CB1</string>
		<string>uF2CB2</string>
		<string>uF2CB3</string>
		<string>uF2CB4</string>
		<string>uF2CB5</string>
		<string>uF2CB6</string>
		<string>uF2CB7</string>
		<string>uF2CB8</string>
		<string>uF2CB9</string>
		<string>uF2CBA</string>
		<string>uF2CBB</string>
		<string>uF2CBC</string>
		<string>uF2CBD</string>
		<string>uF2CBE</string>
		<string>uF2CBF</string>
		<string>uF2B40.middle</string>
		<string>uF2B44.middle</string>
		<string>uF2B48.middle</string>
		<string>uF2B41.middle</string>
		<string>uF2B45.middle</string>
		<string>uF2B49.middle</string>
		<string>uF2B42.middle</string>
		<string>uF2B46.middle</string>
		<string>uF2B4A.middle</string>
		<string>uF2B43.middle</string>
		<string>uF2B47.middle</string>
		<string>uF2B4B.middle</string>
		<string>uF2B58.middle</string>
		<string>uF2B5A.middle</string>
		<string>uF2B5C.middle</string>
		<string>uF2B59.middle</string>
		<string>uF2B5B.middle</string>
		<string>uF2B5D.middle</string>
		<string>uF2B64.middle</string>
		<string>uF2B66.middle</string>
		<string>uF2B68.middle</string>
		<string>uF2B65.middle</string>
		<string>uF2B67.middle</string>
		<string>uF2B69.middle</string>
		<string>uF2B70.middle</string>
		<string>uF2B72.middle</string>
		<string>uF2B74.middle</string>
		<string>uF2B71.middle</string>
		<string>uF2B73.middle</string>
		<string>uF2B75.middle</string>
		<string>uF2B5E.middle</string>
		<string>uF2B60.middle</string>
		<string>uF2B62.middle</string>
		<string>uF2B5F.middle</string>
		<string>uF2B61.middle</string>
		<string>uF2B63.middle</string>
		<string>uF2B6A.middle</string>
		<string>uF2B6C.middle</string>
		<string>uF2B6E.middle</string>
		<string>uF2B6B.middle</string>
		<string>uF2B6D.middle</string>
		<string>uF2B6F.middle</string>
		<string>uF2B76.middle</string>
		<string>uF2B78.middle</string>
		<string>uF2B7A.middle</string>
		<string>uF2B77.middle</string>
		<string>uF2B79.middle</string>
		<string>uF2B7B.middle</string>
		<string>uF2B7C.middle</string>
		<string>uF2B7E.middle</string>
		<string>uF2B80.middle</string>
		<string>uF2B7D.middle</string>
		<string>uF2B7F.middle</string>
		<string>uF2B81.middle</string>
		<string>uF2B88.middle</string>
		<string>uF2B8A.middle</string>
		<string>uF2B8C.middle</string>
		<string>uF2B89.middle</string>
		<string>uF2B8B.middle</string>
		<string>uF2B8D.middle</string>
		<string>uF2B94.middle</string>
		<string>uF2B96.middle</string>
		<string>uF2B98.middle</string>
		<string>uF2B95.middle</string>
		<string>uF2B97.middle</string>
		<string>uF2B99.middle</string>
		<string>uF2B82.middle</string>
		<string>uF2B84.middle</string>
		<string>uF2B86.middle</string>
		<string>uF2B83.middle</string>
		<string>uF2B85.middle</string>
		<string>uF2B87.middle</string>
		<string>uF2B8E.middle</string>
		<string>uF2B90.middle</string>
		<string>uF2B92.middle</string>
		<string>uF2B8F.middle</string>
		<string>uF2B91.middle</string>
		<string>uF2B93.middle</string>
		<string>uF2B9A.middle</string>
		<string>uF2B9C.middle</string>
		<string>uF2B9E.middle</string>
		<string>uF2B9B.middle</string>
		<string>uF2B9D.middle</string>
		<string>uF2B9F.middle</string>
		<string>uF2C00.middle</string>
		<string>uF2C04.middle</string>
		<string>uF2C08.middle</string>
		<string>uF2C01.middle</string>
		<string>uF2C05.middle</string>
		<string>uF2C09.middle</string>
		<string>uF2C02.middle</string>
		<string>uF2C06.middle</string>
		<string>uF2C0A.middle</string>
		<string>uF2C03.middle</string>
		<string>uF2C07.middle</string>
		<string>uF2C0B.middle</string>
		<string>uF2C18.middle</string>
		<string>uF2C1C.middle</string>
		<string>uF2C20.middle</string>
		<string>uF2C19.middle</string>
		<string>uF2C1D.middle</string>
		<string>uF2C21.middle</string>
		<string>uF2C1A.middle</string>
		<string>uF2C1E.middle</string>
		<string>uF2C22.middle</string>
		<string>uF2C1B.middle</string>
		<string>uF2C1F.middle</string>
		<string>uF2C23.middle</string>
		<string>uF2C0C.middle</string>
		<string>uF2C10.middle</string>
		<string>uF2C14.middle</string>
		<string>uF2C0D.middle</string>
		<string>uF2C11.middle</string>
		<string>uF2C15.middle</string>
		<string>uF2C0E.middle</string>
		<string>uF2C12.middle</string>
		<string>uF2C16.middle</string>
		<string>uF2C0F.middle</string>
		<string>uF2C13.middle</string>
		<string>uF2C17.middle</string>
		<string>uF2C24.middle</string>
		<string>uF2C28.middle</string>
		<string>uF2C2C.middle</string>
		<string>uF2C25.middle</string>
		<string>uF2C29.middle</string>
		<string>uF2C2D.middle</string>
		<string>uF2C26.middle</string>
		<string>uF2C2A.middle</string>
		<string>uF2C2E.middle</string>
		<string>uF2C27.middle</string>
		<string>uF2C2B.middle</string>
		<string>uF2C2F.middle</string>
		<string>uF2C30.middle</string>
		<string>uF2C34.middle</string>
		<string>uF2C38.middle</string>
		<string>uF2C31.middle</string>
		<string>uF2C35.middle</string>
		<string>uF2C39.middle</string>
		<string>uF2C32.middle</string>
		<string>uF2C36.middle</string>
		<string>uF2C3A.middle</string>
		<string>uF2C33.middle</string>
		<string>uF2C37.middle</string>
		<string>uF2C3B.middle</string>
		<string>uF2C3C.middle</string>
		<string>uF2C40.middle</string>
		<string>uF2C44.middle</string>
		<string>uF2C3D.middle</string>
		<string>uF2C41.middle</string>
		<string>uF2C45.middle</string>
		<string>uF2C3E.middle</string>
		<string>uF2C42.middle</string>
		<string>uF2C46.middle</string>
		<string>uF2C3F.middle</string>
		<string>uF2C43.middle</string>
		<string>uF2C47.middle</string>
		<string>uF2C48.middle</string>
		<string>uF2C4C.middle</string>
		<string>uF2C50.middle</string>
		<string>uF2C49.middle</string>
		<string>uF2C4D.middle</string>
		<string>uF2C51.middle</string>
		<string>uF2C4A.middle</string>
		<string>uF2C4E.middle</string>
		<string>uF2C52.middle</string>
		<string>uF2C4B.middle</string>
		<string>uF2C4F.middle</string>
		<string>uF2C53.middle</string>
		<string>uF2C54.middle</string>
		<string>uF2C56.middle</string>
		<string>uF2C58.middle</string>
		<string>uF2C55.middle</string>
		<string>uF2C57.middle</string>
		<string>uF2C59.middle</string>
		<string>uF2C60.middle</string>
		<string>uF2C62.middle</string>
		<string>uF2C64.middle</string>
		<string>uF2C61.middle</string>
		<string>uF2C63.middle</string>
		<string>uF2C65.middle</string>
		<string>uF2C6C.middle</string>
		<string>uF2C6E.middle</string>
		<string>uF2C70.middle</string>
		<string>uF2C6D.middle</string>
		<string>uF2C6F.middle</string>
		<string>uF2C71.middle</string>
		<string>uF2C5A.middle</string>
		<string>uF2C5C.middle</string>
		<string>uF2C5E.middle</string>
		<string>uF2C5B.middle</string>
		<string>uF2C5D.middle</string>
		<string>uF2C5F.middle</string>
		<string>uF2C66.middle</string>
		<string>uF2C68.middle</string>
		<string>uF2C6A.middle</string>
		<string>uF2C67.middle</string>
		<string>uF2C69.middle</string>
		<string>uF2C6B.middle</string>
		<string>uF2C72.middle</string>
		<string>uF2C74.middle</string>
		<string>uF2C76.middle</string>
		<string>uF2C73.middle</string>
		<string>uF2C75.middle</string>
		<string>uF2C77.middle</string>
		<string>uF2C78.middle</string>
		<string>uF2C7A.middle</string>
		<string>uF2C7C.middle</string>
		<string>uF2C79.middle</string>
		<string>uF2C7B.middle</string>
		<string>uF2C7D.middle</string>
		<string>uF2C84.middle</string>
		<string>uF2C86.middle</string>
		<string>uF2C88.middle</string>
		<string>uF2C85.middle</string>
		<string>uF2C87.middle</string>
		<string>uF2C89.middle</string>
		<string>uF2C90.middle</string>
		<string>uF2C92.middle</string>
		<string>uF2C94.middle</string>
		<string>uF2C91.middle</string>
		<string>uF2C93.middle</string>
		<string>uF2C95.middle</string>
		<string>uF2C7E.middle</string>
		<string>uF2C80.middle</string>
		<string>uF2C82.middle</string>
		<string>uF2C7F.middle</string>
		<string>uF2C81.middle</string>
		<string>uF2C83.middle</string>
		<string>uF2C8A.middle</string>
		<string>uF2C8C.middle</string>
		<string>uF2C8E.middle</string>
		<string>uF2C8B.middle</string>
		<string>uF2C8D.middle</string>
		<string>uF2C8F.middle</string>
		<string>uF2C96.middle</string>
		<string>uF2C98.middle</string>
		<string>uF2C9A.middle</string>
		<string>uF2C97.middle</string>
		<string>uF2C99.middle</string>
		<string>uF2C9B.middle</string>
		<string>uF2C9C.middle</string>
		<string>uF2C9E.middle</string>
		<string>uF2CA0.middle</string>
		<string>uF2C9D.middle</string>
		<string>uF2C9F.middle</string>
		<string>uF2CA1.middle</string>
		<string>uF2CA8.middle</string>
		<string>uF2CAA.middle</string>
		<string>uF2CAC.middle</string>
		<string>uF2CA9.middle</string>
		<string>uF2CAB.middle</string>
		<string>uF2CAD.middle</string>
		<string>uF2CB4.middle</string>
		<string>uF2CB6.middle</string>
		<string>uF2CB8.middle</string>
		<string>uF2CB5.middle</string>
		<string>uF2CB7.middle</string>
		<string>uF2CB9.middle</string>
		<string>uF2CA2.middle</string>
		<string>uF2CA4.middle</string>
		<string>uF2CA6.middle</string>
		<string>uF2CA3.middle</string>
		<string>uF2CA5.middle</string>
		<string>uF2CA7.middle</string>
		<string>uF2CAE.middle</string>
		<string>uF2CB0.middle</string>
		<string>uF2CB2.middle</string>
		<string>uF2CAF.middle</string>
		<string>uF2CB1.middle</string>
		<string>uF2CB3.middle</string>
		<string>uF2CBA.middle</string>
		<string>uF2CBC.middle</string>
		<string>uF2CBE.middle</string>
		<string>uF2CBB.middle</string>
		<string>uF2CBD.middle</string>
		<string>uF2CBF.middle</string>
		<string>uF2C00.middleLeft</string>
		<string>uF2C00.middleRight</string>
		<string>uF2C04.middleLeft</string>
		<string>uF2C04.middleRight</string>
		<string>uF2C08.middleLeft</string>
		<string>uF2C08.middleRight</string>
		<string>uF2C01.middleLeft</string>
		<string>uF2C01.middleRight</string>
		<string>uF2C05.middleLeft</string>
		<string>uF2C05.middleRight</string>
		<string>uF2C09.middleLeft</string>
		<string>uF2C09.middleRight</string>
		<string>uF2C02.middleLeft</string>
		<string>uF2C02.middleRight</string>
		<string>uF2C06.middleLeft</string>
		<string>uF2C06.middleRight</string>
		<string>uF2C0A.middleLeft</string>
		<string>uF2C0A.middleRight</string>
		<string>uF2C03.middleLeft</string>
		<string>uF2C03.middleRight</string>
		<string>uF2C07.middleLeft</string>
		<string>uF2C07.middleRight</string>
		<string>uF2C0B.middleLeft</string>
		<string>uF2C0B.middleRight</string>
		<string>uF2C18.middleLeft</string>
		<string>uF2C18.middleRight</string>
		<string>uF2C1C.middleLeft</string>
		<string>uF2C1C.middleRight</string>
		<string>uF2C20.middleLeft</string>
		<string>uF2C20.middleRight</string>
		<string>uF2C19.middleLeft</string>
		<string>uF2C19.middleRight</string>
		<string>uF2C1D.middleLeft</string>
		<string>uF2C1D.middleRight</string>
		<string>uF2C21.middleLeft</string>
		<string>uF2C21.middleRight</string>
		<string>uF2C1A.middleLeft</string>
		<string>uF2C1A.middleRight</string>
		<string>uF2C1E.middleLeft</string>
		<string>uF2C1E.middleRight</string>
		<string>uF2C22.middleLeft</string>
		<string>uF2C22.middleRight</string>
		<string>uF2C1B.middleLeft</string>
		<string>uF2C1B.middleRight</string>
		<string>uF2C1F.middleLeft</string>
		<string>uF2C1F.middleRight</string>
		<string>uF2C23.middleLeft</string>
		<string>uF2C23.middleRight</string>
		<string>uF2C0C.middleLeft</string>
		<string>uF2C0C.middleRight</string>
		<string>uF2C10.middleLeft</string>
		<string>uF2C10.middleRight</string>
		<string>uF2C14.middleLeft</string>
		<string>uF2C14.middleRight</string>
		<string>uF2C0D.middleLeft</string>
		<string>uF2C0D.middleRight</string>
		<string>uF2C11.middleLeft</string>
		<string>uF2C11.middleRight</string>
		<string>uF2C15.middleLeft</string>
		<string>uF2C15.middleRight</string>
		<string>uF2C0E.middleLeft</string>
		<string>uF2C0E.middleRight</string>
		<string>uF2C12.middleLeft</string>
		<string>uF2C12.middleRight</string>
		<string>uF2C16.middleLeft</string>
		<string>uF2C16.middleRight</string>
		<string>uF2C0F.middleLeft</string>
		<string>uF2C0F.middleRight</string>
		<string>uF2C13.middleLeft</string>
		<string>uF2C13.middleRight</string>
		<string>uF2C17.middleLeft</string>
		<string>uF2C17.middleRight</string>
		<string>uF2C24.middleLeft</string>
		<string>uF2C24.middleRight</string>
		<string>uF2C28.middleLeft</string>
		<string>uF2C28.middleRight</string>
		<string>uF2C2C.middleLeft</string>
		<string>uF2C2C.middleRight</string>
		<string>uF2C25.middleLeft</string>
		<string>uF2C25.middleRight</string>
		<string>uF2C29.middleLeft</string>
		<string>uF2C29.middleRight</string>
		<string>uF2C2D.middleLeft</string>
		<string>uF2C2D.middleRight</string>
		<string>uF2C26.middleLeft</string>
		<string>uF2C26.middleRight</string>
		<string>uF2C2A.middleLeft</string>
		<string>uF2C2A.middleRight</string>
		<string>uF2C2E.middleLeft</string>
		<string>uF2C2E.middleRight</string>
		<string>uF2C27.middleLeft</string>
		<string>uF2C27.middleRight</string>
		<string>uF2C2B.middleLeft</string>
		<string>uF2C2B.middleRight</string>
		<string>uF2C2F.middleLeft</string>
		<string>uF2C2F.middleRight</string>
		<string>uF2C30.middleLeft</string>
		<string>uF2C30.middleRight</string>
		<string>uF2C34.middleLeft</string>
		<string>uF2C34.middleRight</string>
		<string>uF2C38.middleLeft</string>
		<string>uF2C38.middleRight</string>
		<string>uF2C31.middleLeft</string>
		<string>uF2C31.middleRight</string>
		<string>uF2C35.middleLeft</string>
		<string>uF2C35.middleRight</string>
		<string>uF2C39.middleLeft</string>
		<string>uF2C39.middleRight</string>
		<string>uF2C32.middleLeft</string>
		<string>uF2C32.middleRight</string>
		<string>uF2C36.middleLeft</string>
		<string>uF2C36.middleRight</string>
		<string>uF2C3A.middleLeft</string>
		<string>uF2C3A.middleRight</string>
		<string>uF2C33.middleLeft</string>
		<string>uF2C33.middleRight</string>
		<string>uF2C37.middleLeft</string>
		<string>uF2C37.middleRight</string>
		<string>uF2C3B.middleLeft</string>
		<string>uF2C3B.middleRight</string>
		<string>uF2C3C.middleLeft</string>
		<string>uF2C3C.middleRight</string>
		<string>uF2C40.middleLeft</string>
		<string>uF2C40.middleRight</string>
		<string>uF2C44.middleLeft</string>
		<string>uF2C44.middleRight</string>
		<string>uF2C3D.middleLeft</string>
		<string>uF2C3D.middleRight</string>
		<string>uF2C41.middleLeft</string>
		<string>uF2C41.middleRight</string>
		<string>uF2C45.middleLeft</string>
		<string>uF2C45.middleRight</string>
		<string>uF2C3E.middleLeft</string>
		<string>uF2C3E.middleRight</string>
		<string>uF2C42.middleLeft</string>
		<string>uF2C42.middleRight</string>
		<string>uF2C46.middleLeft</string>
		<string>uF2C46.middleRight</string>
		<string>uF2C3F.middleLeft</string>
		<string>uF2C3F.middleRight</string>
		<string>uF2C43.middleLeft</string>
		<string>uF2C43.middleRight</string>
		<string>uF2C47.middleLeft</string>
		<string>uF2C47.middleRight</string>
		<string>uF2C48.middleLeft</string>
		<string>uF2C48.middleRight</string>
		<string>uF2C4C.middleLeft</string>
		<string>uF2C4C.middleRight</string>
		<string>uF2C50.middleLeft</string>
		<string>uF2C50.middleRight</string>
		<string>uF2C49.middleLeft</string>
		<string>uF2C49.middleRight</string>
		<string>uF2C4D.middleLeft</string>
		<string>uF2C4D.middleRight</string>
		<string>uF2C51.middleLeft</string>
		<string>uF2C51.middleRight</string>
		<string>uF2C4A.middleLeft</string>
		<string>uF2C4A.middleRight</string>
		<string>uF2C4E.middleLeft</string>
		<string>uF2C4E.middleRight</string>
		<string>uF2C52.middleLeft</string>
		<string>uF2C52.middleRight</string>
		<string>uF2C4B.middleLeft</string>
		<string>uF2C4B.middleRight</string>
		<string>uF2C4F.middleLeft</string>
		<string>uF2C4F.middleRight</string>
		<string>uF2C53.middleLeft</string>
		<string>uF2C53.middleRight</string>
		<string>uF2C54.middleLeft</string>
		<string>uF2C54.middleRight</string>
		<string>uF2C56.middleLeft</string>
		<string>uF2C56.middleRight</string>
		<string>uF2C58.middleLeft</string>
		<string>uF2C58.middleRight</string>
		<string>uF2C55.middleLeft</string>
		<string>uF2C55.middleRight</string>
		<string>uF2C57.middleLeft</string>
		<string>uF2C57.middleRight</string>
		<string>uF2C59.middleLeft</string>
		<string>uF2C59.middleRight</string>
		<string>uF2C60.middleLeft</string>
		<string>uF2C60.middleRight</string>
		<string>uF2C62.middleLeft</string>
		<string>uF2C62.middleRight</string>
		<string>uF2C64.middleLeft</string>
		<string>uF2C64.middleRight</string>
		<string>uF2C61.middleLeft</string>
		<string>uF2C61.middleRight</string>
		<string>uF2C63.middleLeft</string>
		<string>uF2C63.middleRight</string>
		<string>uF2C65.middleLeft</string>
		<string>uF2C65.middleRight</string>
		<string>uF2C6C.middleLeft</string>
		<string>uF2C6C.middleRight</string>
		<string>uF2C6E.middleLeft</string>
		<string>uF2C6E.middleRight</string>
		<string>uF2C70.middleLeft</string>
		<string>uF2C70.middleRight</string>
		<string>uF2C6D.middleLeft</string>
		<string>uF2C6D.middleRight</string>
		<string>uF2C6F.middleLeft</string>
		<string>uF2C6F.middleRight</string>
		<string>uF2C71.middleLeft</string>
		<string>uF2C71.middleRight</string>
		<string>uF2C5A.middleLeft</string>
		<string>uF2C5A.middleRight</string>
		<string>uF2C5C.middleLeft</string>
		<string>uF2C5C.middleRight</string>
		<string>uF2C5E.middleLeft</string>
		<string>uF2C5E.middleRight</string>
		<string>uF2C5B.middleLeft</string>
		<string>uF2C5B.middleRight</string>
		<string>uF2C5D.middleLeft</string>
		<string>uF2C5D.middleRight</string>
		<string>uF2C5F.middleLeft</string>
		<string>uF2C5F.middleRight</string>
		<string>uF2C66.middleLeft</string>
		<string>uF2C66.middleRight</string>
		<string>uF2C68.middleLeft</string>
		<string>uF2C68.middleRight</string>
		<string>uF2C6A.middleLeft</string>
		<string>uF2C6A.middleRight</string>
		<string>uF2C67.middleLeft</string>
		<string>uF2C67.middleRight</string>
		<string>uF2C69.middleLeft</string>
		<string>uF2C69.middleRight</string>
		<string>uF2C6B.middleLeft</string>
		<string>uF2C6B.middleRight</string>
		<string>uF2C72.middleLeft</string>
		<string>uF2C72.middleRight</string>
		<string>uF2C74.middleLeft</string>
		<string>uF2C74.middleRight</string>
		<string>uF2C76.middleLeft</string>
		<string>uF2C76.middleRight</string>
		<string>uF2C73.middleLeft</string>
		<string>uF2C73.middleRight</string>
		<string>uF2C75.middleLeft</string>
		<string>uF2C75.middleRight</string>
		<string>uF2C77.middleLeft</string>
		<string>uF2C77.middleRight</string>
		<string>uF2C78.middleLeft</string>
		<string>uF2C78.middleRight</string>
		<string>uF2C7A.middleLeft</string>
		<string>uF2C7A.middleRight</string>
		<string>uF2C7C.middleLeft</string>
		<string>uF2C7C.middleRight</string>
		<string>uF2C79.middleLeft</string>
		<string>uF2C79.middleRight</string>
		<string>uF2C7B.middleLeft</string>
		<string>uF2C7B.middleRight</string>
		<string>uF2C7D.middleLeft</string>
		<string>uF2C7D.middleRight</string>
		<string>uF2C84.middleLeft</string>
		<string>uF2C84.middleRight</string>
		<string>uF2C86.middleLeft</string>
		<string>uF2C86.middleRight</string>
		<string>uF2C88.middleLeft</string>
		<string>uF2C88.middleRight</string>
		<string>uF2C85.middleLeft</string>
		<string>uF2C85.middleRight</string>
		<string>uF2C87.middleLeft</string>
		<string>uF2C87.middleRight</string>
		<string>uF2C89.middleLeft</string>
		<string>uF2C89.middleRight</string>
		<string>uF2C90.middleLeft</string>
		<string>uF2C90.middleRight</string>
		<string>uF2C92.middleLeft</string>
		<string>uF2C92.middleRight</string>
		<string>uF2C94.middleLeft</string>
		<string>uF2C94.middleRight</string>
		<string>uF2C91.middleLeft</string>
		<string>uF2C91.middleRight</string>
		<string>uF2C93.middleLeft</string>
		<string>uF2C93.middleRight</string>
		<string>uF2C95.middleLeft</string>
		<string>uF2C95.middleRight</string>
		<string>uF2C7E.middleLeft</string>
		<string>uF2C7E.middleRight</string>
		<string>uF2C80.middleLeft</string>
		<string>uF2C80.middleRight</string>
		<string>uF2C82.middleLeft</string>
		<string>uF2C82.middleRight</string>
		<string>uF2C7F.middleLeft</string>
		<string>uF2C7F.middleRight</string>
		<string>uF2C81.middleLeft</string>
		<string>uF2C81.middleRight</string>
		<string>uF2C83.middleLeft</string>
		<string>uF2C83.middleRight</string>
		<string>uF2C8A.middleLeft</string>
		<string>uF2C8A.middleRight</string>
		<string>uF2C8C.middleLeft</string>
		<string>uF2C8C.middleRight</string>
		<string>uF2C8E.middleLeft</string>
		<string>uF2C8E.middleRight</string>
		<string>uF2C8B.middleLeft</string>
		<string>uF2C8B.middleRight</string>
		<string>uF2C8D.middleLeft</string>
		<string>uF2C8D.middleRight</string>
		<string>uF2C8F.middleLeft</string>
		<string>uF2C8F.middleRight</string>
		<string>uF2C96.middleLeft</string>
		<string>uF2C96.middleRight</string>
		<string>uF2C98.middleLeft</string>
		<string>uF2C98.middleRight</string>
		<string>uF2C9A.middleLeft</string>
		<string>uF2C9A.middleRight</string>
		<string>uF2C97.middleLeft</string>
		<string>uF2C97.middleRight</string>
		<string>uF2C99.middleLeft</string>
		<string>uF2C99.middleRight</string>
		<string>uF2C9B.middleLeft</string>
		<string>uF2C9B.middleRight</string>
		<string>uF2C9C.middleLeft</string>
		<string>uF2C9C.middleRight</string>
		<string>uF2C9E.middleLeft</string>
		<string>uF2C9E.middleRight</string>
		<string>uF2CA0.middleLeft</string>
		<string>uF2CA0.middleRight</string>
		<string>uF2C9D.middleLeft</string>
		<string>uF2C9D.middleRight</string>
		<string>uF2C9F.middleLeft</string>
		<string>uF2C9F.middleRight</string>
		<string>uF2CA1.middleLeft</string>
		<string>uF2CA1.middleRight</string>
		<string>uF2CA8.middleLeft</string>
		<string>uF2CA8.middleRight</string>
		<string>uF2CAA.middleLeft</string>
		<string>uF2CAA.middleRight</string>
		<string>uF2CAC.middleLeft</string>
		<string>uF2CAC.middleRight</string>
		<string>uF2CA9.middleLeft</string>
		<string>uF2CA9.middleRight</string>
		<string>uF2CAB.middleLeft</string>
		<string>uF2CAB.middleRight</string>
		<string>uF2CAD.middleLeft</string>
		<string>uF2CAD.middleRight</string>
		<string>uF2CB4.middleLeft</string>
		<string>uF2CB4.middleRight</string>
		<string>uF2CB6.middleLeft</string>
		<string>uF2CB6.middleRight</string>
		<string>uF2CB8.middleLeft</string>
		<string>uF2CB8.middleRight</string>
		<string>uF2CB5.middleLeft</string>
		<string>uF2CB5.middleRight</string>
		<string>uF2CB7.middleLeft</string>
		<string>uF2CB7.middleRight</string>
		<string>uF2CB9.middleLeft</string>
		<string>uF2CB9.middleRight</string>
		<string>uF2CA2.middleLeft</string>
		<string>uF2CA2.middleRight</string>
		<string>uF2CA4.middleLeft</string>
		<string>uF2CA4.middleRight</string>
		<string>uF2CA6.middleLeft</string>
		<string>uF2CA6.middleRight</string>
		<string>uF2CA3.middleLeft</string>
		<string>uF2CA3.middleRight</string>
		<string>uF2CA5.middleLeft</string>
		<string>uF2CA5.middleRight</string>
		<string>uF2CA7.middleLeft</string>
		<string>uF2CA7.middleRight</string>
		<string>uF2CAE.middleLeft</string>
		<string>uF2CAE.middleRight</string>
		<string>uF2CB0.middleLeft</string>
		<string>uF2CB0.middleRight</string>
		<string>uF2CB2.middleLeft</string>
		<string>uF2CB2.middleRight</string>
		<string>uF2CAF.middleLeft</string>
		<string>uF2CAF.middleRight</string>
		<string>uF2CB1.middleLeft</string>
		<string>uF2CB1.middleRight</string>
		<string>uF2CB3.middleLeft</string>
		<string>uF2CB3.middleRight</string>
		<string>uF2CBA.middleLeft</string>
		<string>uF2CBA.middleRight</string>
		<string>uF2CBC.middleLeft</string>
		<string>uF2CBC.middleRight</string>
		<string>uF2CBE.middleLeft</string>
		<string>uF2CBE.middleRight</string>
		<string>uF2CBB.middleLeft</string>
		<string>uF2CBB.middleRight</string>
		<string>uF2CBD.middleLeft</string>
		<string>uF2CBD.middleRight</string>
		<string>uF2CBF.middleLeft</string>
		<string>uF2CBF.middleRight</string>
	</array>
</dict>
</plist>
