afdko==5.0.1
attrs==26.1.0
booleanoperations==0.10.0
brotli==1.2.0
cffsubr==0.4.0
colorama==0.4.6
compreffor==0.6.0
defcon==0.12.2
fontmake==3.12.1
fontmath==0.10.0
fontparts==1.1.1
fontpens==0.4.0
fonttools==4.64.0
glyphslib==6.14.0
lxml==6.1.3
mutatormath==3.0.1
openstep-plist==0.5.2
pyclipper==1.4.0
tqdm==4.70.0
ufo2ft==3.9.0
ufolib2==0.18.1
ufonormalizer==0.6.3
ufoprocessor==1.14.1
unicodedata2==17.0.1
zopfli==0.4.3
